
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 2svh 0;
    min-height: 42px;
    background-color:var(--color-background);

    .icon{
        display: none;
    }
    p{
        margin: auto auto auto 5%;
        color: var(--color-texto);
    }
    a{
        align-self: center;
        padding: 0 5%;
        color: var(--color-texto);
        &:hover {
            color: var(--color-texto);
            transform: translateY(-10%);
        }
    
        &:focus,
        &:focus-visible {
            outline: 4px auto -webkit-focus-ring-color;
        }
    }
}

@media (max-width: 375px) {
    .navbar{
        padding: 2svh 5%;
        a{display: none;}
        button{display: none;}
        .icon{
            display: block;
            width: auto;
            height: calc(42px - 2svh);
            align-self: center;
        }
    }
}